@import "tailwindcss";

@utility no-scrollbar {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  @apply bg-bg text-paul-text;
}

@theme {
  /* Breakpoints */
  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 668px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* Font Family */
  --font-primary: var(--font-poppins), sans-serif;

  /* Main Theme Colors */
  --color-paul-50: #faf5ff;
  --color-paul-100: #f3e8ff;
  --color-paul-200: #e9d5ff;
  --color-paul-300: #d8b4fe;
  --color-paul-400: #c084fc;
  --color-paul-500: #a855f7;
  --color-paul-600: #9333ea;
  --color-paul-700: #7e22ce;
  --color-paul-800: #6b21a8;
  --color-paul-900: #581c87;

  /* Accent Colors */
  --color-accent: #38bdf8; /* Light sky blue */
  --color-accent-alt: #facc15; /* Vibrant yellow */

  /* Backgrounds */
  --color-bg: #6b21a8; /* very soft lavender */
  --color-bg-alt: #fdf4ff;
  --color-bg-disabled: #e9d5ff;

  /* Borders */
  --color-border: #1e1b4b;
  --color-border-alt: #7e22ce;
  --color-border-disabled: #d8b4fe;

  /* Hover */
  --color-hover: var(--color-paul-300);

  /* Texts */
  --color-paul-text: #fdf4ff;
  --color-paul-text-alt: #7e22ce;
  --color-paul-text-disabled: gray;

  /* Core Theme Tokens */
  --color-primary: var(--color-paul-600);
  --color-primary-light: var(--color-paul-400);
  --color-primary-dark: var(--color-paul-800);

  --color-secondary: #1e1b4b; /* deep indigo gray */
  --color-secondary-light: #3f3cbb;
  --color-secondary-dark: #1e1b4b;

  /* Font Sizes */
  --font-size-xs: 0.75rem;
  --font-size-xs-line-height: 1rem;

  --font-size-sm: 0.875rem;
  --font-size-sm-line-height: 1.25rem;

  --font-size-base: 1rem;
  --font-size-base-line-height: 1.5rem;

  --font-size-lg: 1.125rem;
  --font-size-lg-line-height: 1.75rem;

  --font-size-xl: 1.25rem;
  --font-size-xl-line-height: 1.75rem;

  --font-size-2xl: 1.5rem;
  --font-size-2xl-line-height: 2rem;

  --font-size-3xl: 1.875rem;
  --font-size-3xl-line-height: 2.25rem;

  --font-size-4xl: 2.25rem;
  --font-size-4xl-line-height: 2.5rem;
  --font-size-4xl-font-weight: 700;

  --font-size-5xl: 3rem;
  --font-size-5xl-line-height: 1;
  --font-size-5xl-font-weight: 700;

  --font-size-6xl: 3.75rem;
  --font-size-6xl-line-height: 1;
  --font-size-6xl-font-weight: 800;

  --font-size-7xl: 4.5rem;
  --font-size-7xl-line-height: 1;
  --font-size-7xl-font-weight: 800;

  --font-size-8xl: 6rem;
  --font-size-8xl-line-height: 1;
  --font-size-8xl-font-weight: 800;

  --font-size-9xl: 8rem;
  --font-size-9xl-line-height: 1;
  --font-size-9xl-font-weight: 800;

  /* Custom Animations */
  /* --animation-bounce-slow: bounce 3s infinite;
    --animation-float: float 4s ease-in-out infinite; */

  /* Custom Box Shadows */
  --shadow-custom: 0 0 10px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
}
